@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("../node_modules/@radix-ui/themes/styles.css");

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');


.radix-themes {
  --default-font-family: 'Manrope', sans-serif;
  --default-font-size: 18px;
  --default-line-height: 1.5;
}

html,
body {
  color-scheme: dark;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "Manrope" !important;
}